body {
  margin: 0;
  padding: 0;
}

.contenedor {
  position: relative;
  margin: 0;
  padding: 50px;
  width: 600px;
  background-color: darkgray;
}

.caja {
  width: 200px;
  height: 200px;
}

#rosa {
  top: 0;
  left: 0;
  background-color: #EE3E64;
}

#azul {
  position: absolute;
  top: 250px;
  right: 0;
  background-color: #2B7DB9;
}

#verde {
  left: 0;
  bottom: 0;
  background-color: #B7D84B;
}

#amarillo {
  bottom: 0;
  right: 0;
  background-color: #FAFF16;
}
